@import "variables";
// breakpoints
@mixin media-breakpoint-down($name) {
  $max: map-get($grid-breakpoints, $name);
  $max: if($max and $max > 0, $max - 0.02, null);

  @if $max {
    @media (max-width: $max) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-up($name) {
  $min: map-get($grid-breakpoints, $name);
  $min: if($min and $min > 0, $min - 0.02, null);

  @if $min {
    @media (min-width: $min) {
      @content;
    }
  } @else {
    @content;
  }
}

@mixin media-breakpoint-between($min-name, $max-name) {
  $min: map-get($grid-breakpoints, $min-name);
  $max: map-get($grid-breakpoints, $max-name);

  $min: if($min and $min > 0, $min - 0.02, null);
  $max: if($max and $max > 0, $max - 0.02, null);

  @if $min and $max {
    @media (min-width: $min) and (max-width: $max) {
      @content;
    }
  }
}

// animate
@mixin animated() {
  transition: all 0.2s ease;
}

// alignment
@mixin absolute-center() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

// other
@mixin placeholder-color($color) {
  ::placeholder {
    color: $color;
  }

  :-ms-input-placeholder {
    color: $color;
  }

  ::-ms-input-placeholder {
    color: $color;
  }
}


@mixin sprite($x, $y) {
  background: url("/assets/img/sprite.png") $x $y no-repeat;
}
@mixin animated() {
  transition: all 0.2s ease;
}
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@mixin placeholder-color($color) {
  ::placeholder {
    color: $color;
  }
  :-ms-input-placeholder {
    color: $color;
  }
  ::-ms-input-placeholder {
    color: $color;
  }
}

@mixin btn {
  display: inline-block;
		border: 0;
		border-radius: 5px;
		color: $white;
		cursor: pointer;
		font-size: 18px;
		letter-spacing: -.5px;
		line-height: 24.51px;
		padding: var(--padding-btn);
		text-transform: uppercase;
		transition: all .2s;
}