@import "../../styles/utils.scss";

.navigation {
  width: 100%;
  background-color: $gray;
  position: fixed;
  top: 0;
  z-index: 1000;

  .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 20px 0;

    @media (max-width: $phone-max) {
      padding: 15px 0;

      &.active {
        align-items: flex-start;
      }
    }

    &__logo {
      width: 138px;
    }

    &__container {
      .toggler__container {
        display: flex;
        flex-direction: column;
        gap: 4px;

        @media (max-width: $phone-max) {
          &.active {
            align-items: flex-end;
            margin-top: 20px;
            margin-bottom: 29px;
          }
        }

        .toggler__line {
          display: none;

          @media (max-width: $phone-max) {
            display: block;
            height: 4px;
            width: 40px;
            border-radius: 2px;
            background-color: #1abc9c;

            &_1 {
              &.active {
                transform: translateY(8px) rotate(45deg);
              }
            }

            &_2 {
              &.active {
                display: none;
              }
            }

            &_3 {
              &.active {
                transform: rotate(-45deg);
              }
            }
          }
        }
      }

      .menu__container {
        display: flex;
        align-items: center;
        justify-content: center;

        @media (max-width: $phone-max) {
          flex-direction: column;
          display: none;

          &.active {
            display: block;
          }
        }

        .menu__list {
          font-family: "Roboto";
          list-style: none;
          display: flex;
          gap: 30px;
          margin-right: 30px;
          margin-bottom: 0;

          @media (max-width: $phone-max) {
            flex-direction: column;
            gap: 15px;
            margin-right: 0;
            text-align: right;
            margin-bottom: 25px;
          }

          .menu__item {
            font-size: 18px;

            .menu__link {
              text-decoration: none;
            }
          }
        }
      }
    }
  }
}
