@import "../../styles/utils.scss";

.features {
  text-align: center;

  &__content_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 30px;

    @media (max-width: $phone-max) {
      grid-template-columns: 1fr;
      gap: 15px;
    }
  }

  &__item {
    background-color: $light-blue;
    border-radius: 10px;
    padding: var(--margin-medium);
    align-content: center;
    justify-content: center;
    position: relative;

    @media (max-width: $phone-max) {
      padding: 20px;
    }

    & > * {
      @media (max-width: $phone-max) {
        max-width: 70%;
        margin: 0 auto;
      }
    }

    img {
      margin-bottom: var(--margin-medium);
    }

    .new {
      color: red;
      height: 16px;
      width: 27px;
      font-size: 12px;
      position: absolute;
      top: 10px;
      right: 10px;
    }
  }
}
