@import "../../../styles/utils.scss";

.testimonial {
  max-width: 600px;
  background-color: #98e5d6;
  border-radius: 0px 50px 0px 50px;
  padding: 123px 100px 103px;
  position: relative;
  margin: auto;
  display: none;
  height: 400px;

  @media (max-width: $phone-max) {
    padding: 123px 50px 103px;
  }

  .container_quote {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    height: 100%;
  }

  p:first-of-type {
    margin-bottom: 15px;
  }
  p:last-of-type {
    color: $blue;
  }

  // &.testimonial_0 {
  //   display: block;
  // }

  // // &.testimonial__1 {
  // //   display: none;
  // // }

  // // &.testimonial__2 {
  // //   display: none;
  // // }

  &.active {
    display: block;
    animation: fadeInAndOut 10s;
  }

  &.inactive {
    display: none;
  }

  @keyframes fadeInAndOut {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  .testimonial__img {
    width: 80px;
    position: absolute;

    &.left {
      top: -10px;
      left: -10px;
      transform: rotateY(180deg);

      @media (max-width: $phone-max) {
        top: 10px;
        left: 10px;
      }
    }

    &.right {
      right: -10px;
      bottom: -10px;
      transform: rotateX(180deg);

      @media (max-width: $phone-max) {
        right: 10px;
        bottom: 10px;
      }
    }
  }
}
